[Desktop Entry]
Type=Application
Version=1.0
Name=Launcher
Exec=launcher-mini
Icon=/home/haryirfantri/idOS/Logos/plus.svg
Categories=System;
Name[en_GB]=New app
