[Desktop Entry]
Type=Application
Version=1.0
Name=Launcher
Exec=rofi -show drun -show-icons -config ~/idOS/rofi/light.rasi -m -3
Icon=/home/haryirfantri/idOS/Logos/plus.svg
Categories=System;
Name[en_GB]=New app
