[Desktop Entry]
Type=Application
Version=1.0
Name=Launcher
Exec=rofi -location 7 -theme ~/idOS/rofi/tiga.rasi -show drun -show-icons -icon-theme Qogir-dark
Icon=start-here
Categories=System;
Name[en_GB]=launcher
